<?xml version="1.0" encoding="utf-8"?><!--
  ~ /*
  ~  * @copyright : ToXSL Technologies Pvt. Ltd. < www.toxsl.com >
  ~  * @author     : Shiv Charan Panjeta < shiv@toxsl.com >
  ~  *
  ~  * All Rights Reserved.
  ~  * Proprietary and confidential :  All information contained herein is, and remains
  ~  * the property of ToXSL Technologies Pvt. Ltd. and its partners.
  ~  * Unauthorized copying of this file, via any medium is strictly prohibited.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toxsl.codebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name=".view.SongActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>